<app-loading></app-loading>
<app-toast></app-toast>
<!-- <app-idle></app-idle> -->
<div class="layout-container layout-menu-horizontal layout-menu-active layout-top-small layout-topbar-blue layout-menu-light"
    (click)="onWrapperClick()">

    <div  [ngClass]="isStaging ? 'staging': 'layout-top'" *ngIf="!showFullScreen">
        <app-topbar></app-topbar>
        <div class="layout-topbar-separator"></div>
        <!-- <app-breadcrumb></app-breadcrumb> -->
    </div>
<!-- 
    <app-system-message></app-system-message> -->

    <div class="p-input-filled" [ngClass]="{'layout-content': !showFullScreen}">
        <router-outlet (activate)="changeOfRoutes()"></router-outlet>
    </div>


    <div class="layout-mask" *ngIf="menuActive" [@mask-anim]="'visible'"></div>

    <!-- <app-footer></app-footer> -->

    <div class="layout-config-mask" *ngIf="configDialogActive" [@mask-anim]="'visible'"></div>

</div>