/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "../node_modules/@fullcalendar/core/main.min.css";
@import "../node_modules/@fullcalendar/daygrid/main.min.css";
@import "../node_modules/@fullcalendar/timegrid/main.min.css";
@import "assets/demo/flags/flags.css";
.mt-7 {
    margin-top: 7px;
}
.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.w-100 {
    width: 100px;
}

.w-120 {
    width: 120px;
}

.w-140 {
    width: 140px;
}

.w-160 {
    width: 160px;
}

.w-180 {
    width: 180px;
}

.w-200 {
    width: 200px;
}

.red {
    color: red;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}
.pointer {cursor: pointer;}
.red {color: red;}
.black {color: #000000;}
.green {color: #689F38;}

.input-right > span > input {
    text-align: right;
}
.white-background {
    background-color: #ffffff;
}

.full-width > span {
    width: 100% !important;
}

.font-bold {
    font-weight: bold !important;
}